div{
  position:relative;
  
}
h1 {
  color:green;
  text-align:center;
}
@media (min-width: 992px){

  #section1 {
    width: 33.33%;
    color:white;
    background-color: blue;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
  }

    #section2 {
      color:white;
      width: 33.33%;
      background-color: LIGHTGREEN;
      border: 2px solid black;
      padding: 5px;
      float: right;
      position: absolute;
      top:0;
     right:33.33%;
      box-sizing: border-box;
    }

    #section3 {
      color:white;
      width: 33.33%;
      background-color: gray;
      border: 2px solid black;
      padding: 5px;
      float: right;
      position: absolute;
      top:0;
      right:0;
      box-sizing: border-box;
  }
  }


@media (min-width: 768px) and (max-width: 991px) {
  #section1 {
    width:50%;
    background-color: blue;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
  }
  #section2{
    width:50%;
    background-color: green;
    border: black;
    position: absolute;
    top:0;
    right:0;
    float: right;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
  }
    #section3{
      color:white;
      background-color: gray;
      border: 2px solid black;
      padding: 5px;  
    }
  }
@media(max-width: 767px){
  #section1{
    color:white;
    background-color: blue;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
  }

  #section2{
    color:white;
    background-color: green;
   
    border: 2px solid black;
   
  }
  #section3{
    color:white;
    background-color: gray;
   
  }
}